@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[type="radio"]:checked {
    background-image: none;
}

.tiptap p.is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-size: 1.5rem;
    line-height: 1.2;
}
