@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.cherry-bomb-one-regular {
    font-family: "Cherry Bomb One", system-ui;
    font-style: normal;
}

.borel-regular {
    font-family: "Borel", cursive;
    font-style: normal;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-style: normal;
}

.jua-regular {
    font-family: "Jua", sans-serif;
    font-style: normal;
}

.grand-hotel-regular {
    font-family: "Grand Hotel", cursive;
    font-style: normal;
}
